<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:component-scan base-package="evdc.vianet.auth" />
	<context:component-scan base-package="evdc.vianet.admin" />
	<context:component-scan base-package="evdc.vianet.ticket" />
	<context:component-scan base-package="evdc.vianet.test" />
	<context:component-scan base-package="evdc.vianet.shift" />
	<mvc:annotation-driven>
	<!-- 序列化为json -->
		<mvc:message-converters>  
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />  
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />  
        </mvc:message-converters> 
	</mvc:annotation-driven>
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- controller接收文件上传配置 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>  
	<!-- FTP服务器配置 -->
	<!-- <bean id="ftpServer" class="evdc.vianet.util.FtpServer">
		<property name="port" value="21"></property>
		<property name="url" value="69.171.69.137"></property>
		<property name="path" value="/ticketFiles"></property>
		<property name="username" value="duan.xuechaoftp"></property>
		<property name="password" value="d5885808"></property>
		<property name="certPath" value="evdcftpCert.jks"></property>
		<property name="certPasswd" value="123321"></property>
	</bean> -->
	<bean id="ftpServer" class="evdc.vianet.util.FtpServer">
		<property name="port" value="21"></property>
		<property name="url" value="127.0.0.1"></property>
		<property name="path" value="/ticketFiles"></property>
		<property name="username" value="uftp"></property>
		<property name="password" value="qwer1234"></property>
		<property name="certPath" value="evdcftpCert.jks"></property>
		<property name="certPasswd" value="123321"></property>
	</bean>
	<!-- 静态资源 -->
	<mvc:resources mapping="/static/**" location="/static/" />
</beans>